<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.reptile.nomad.changedReptile">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application

        android:name="com.reptile.nomad.changedReptile.Reptile"
        android:allowBackup="true"
        android:icon="@drawable/logoreptile"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.reptile.nomad.changedReptile.LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.reptile.nomad.changedReptile.MainActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <!--
             ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <service
            android:name="com.reptile.nomad.changedReptile.Services.MyMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.reptile.nomad.changedReptile.Services.MyFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.reptile.nomad.changedReptile.CreateTaskActivity"
            android:label="@string/title_activity_create_task"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="com.reptile.nomad.changedReptile.Username"
            android:label="Edit Username"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name="com.reptile.nomad.changedReptile.DetailedViewActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name="com.reptile.nomad.changedReptile.PreferencesActivity" />
        <activity android:name="com.reptile.nomad.changedReptile.ManageGroups" />
        <activity android:name="com.reptile.nomad.changedReptile.EditGroup" />
        <activity android:name="com.reptile.nomad.changedReptile.GalleryUtil"/>
        <activity
            android:name="com.reptile.nomad.changedReptile.splash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.reptile.nomad.changedReptile.Services.DeadlineTrackerService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="com.reptile.nomad.changedReptile.loginManually"></activity>
        <!--<activity android:name="com.reptile.nomad.changedReptile.LoginActivity"-->
            <!--android:theme="@style/AppTheme.NoActionBar" ></activity>-->
        <activity android:name="com.reptile.nomad.changedReptile.ResetPasswordActivity"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
        <activity android:name="com.reptile.nomad.changedReptile.SignupActivity"
            android:theme="@style/AppTheme.NoActionBar" ></activity>
    </application>

</manifest>